/* #countLabel {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
}
#btnContainer {
  text-align: center;
}
.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(214, 79%, 74%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover {
  background-color: hsl(214, 96%, 52%);
}


#mySubmit {
  font-size: 1em;
}

// DICE PROGRAM

#container {
  font-size: 2rem;
  text-align: center;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: aqua;
}
button:active {
  background-color: lightblue;
}

input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

img {
  max-width: 100px;
  max-height: 100px;
}


h1 {
  color: blue;
}
form {
  background-color: white;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background-color: hsl(0, 100%, 60%);
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 100%, 50%);
}

#result {
  font-size: 1.75em;
  font-weight: bold;
}


.myButtons {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: lightblue;
  color: white;
}

.enabled {
  background-color: lightblue;
  color: white;
}

.hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

.disabled {
  background-color: hsl(0, 0%, 60%);
  color: rgb(179, 179, 179);
}

#myH1 {
  font-size: 5rem;
}
*/
